---
import '@fontsource-variable/geist'
import '@fontsource-variable/geist-mono'

import '@/styles/globals.css'

import { BRAND, THEME } from '@/constants'
import type { Page, Locale } from '@/types'

import { pwaInfo } from 'virtual:pwa-info'
import { pwaAssetsHead } from 'virtual:pwa-assets/head'

interface Props {
	locale: Locale
	title: string
	description: string
	keywords: string
	pageURL: Page

	classes?: Partial<{
		html: string
		body: Partial<{
			root: string
			main: Partial<{
				root: string
				wrapper: string
			}>
		}>
	}>
}

const { locale, title, description, keywords, pageURL, classes } = Astro.props
---

<html
	class:list={['scroll-smooth', THEME.default, classes?.html]}
	dir='ltr'
	lang={locale}
>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='robots'
			content='index, follow'
		/>
		<meta
			name='mobile-web-app-capable'
			content='yes'
		/>
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>
		<meta
			http-equiv='X-UA-Compatible'
			content='IE=edge'
		/>

		<title>{title}</title>
		<meta
			name='description'
			content={description}
		/>
		<meta
			name='keywords'
			content={keywords}
		/>
		<meta
			name='Author'
			content='Lucas Hoz'
			lang={locale}
		/>
		<meta
			name='copyright'
			content='Lucas Hoz'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>

		<link
			rel='alternate'
			href={pageURL}
			hreflang='x-default'
		/>

		{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

		<link
			rel='sitemap'
			href='/sitemap-index.xml'
		/>

		{
			pwaAssetsHead.themeColor && (
				<meta
					name={pwaAssetsHead.themeColor.name}
					content={pwaAssetsHead.themeColor.content}
				/>
			)
		}

		<meta
			name='apple-mobile-web-app-title'
			content={BRAND.name}
		/>
		<meta
			name='apple-mobile-web-app-status-bar-style'
			content='default'
		/>

		{pwaAssetsHead.links.map((link) => <link {...link} />)}

		<meta
			property='og:type'
			content='website'
		/>
		<meta
			property='og:url'
			content={pageURL}
		/>
		<meta
			property='og:locale'
			content={locale}
		/>
		<meta
			property='og:title'
			content={title}
		/>
		<meta
			property='og:site_name'
			content={BRAND.name}
		/>
		<meta
			property='og:description'
			content={description}
		/>

		<meta
			property='og:image'
			content='/open-graphs/app.avif'
		/>
		<meta
			property='og:image:type'
			content='image/avif'
		/>
		<meta
			property='og:image:width'
			content='1200'
		/>
		<meta
			property='og:image:height'
			content='630'
		/>

		<meta
			property='og:image'
			content='/open-graphs/app.webp'
		/>
		<meta
			property='og:image:type'
			content='image/webp'
		/>
		<meta
			property='og:image:width'
			content='1200'
		/>
		<meta
			property='og:image:height'
			content='630'
		/>

		<meta
			property='og:image'
			content='/open-graphs/app.png'
		/>
		<meta
			property='og:image:type'
			content='image/png'
		/>
		<meta
			property='og:image:width'
			content='1200'
		/>
		<meta
			property='og:image:height'
			content='630'
		/>

		<meta
			name='twitter:card'
			content='summary_large_image'
		/>
		<meta
			name='twitter:url'
			content={pageURL}
		/>
		<meta
			name='twitter:title'
			content={title}
		/>
		<meta
			name='twitter:description'
			content={description}
		/>
		<meta
			name='twitter:creator'
			content='@hozlucas28'
		/>
		<meta
			name='twitter:image'
			content='/open-graphs/app__twitter.webp'
		/>
		<meta
			name='twitter:image:alt'
			content='Rediseño de Mercado Play, desarrollado por @hozlucas28.'
		/>

		<script is:inline>
			// Stay it update with project constants
			const THEME = {
				default: 'dark',
				storageKey: 'ui-theme',
				values: ['light', 'dark'],
			}

			const themePreference = localStorage.getItem(THEME.storageKey) ?? THEME.default

			if (THEME.values.includes(themePreference)) {
				document.documentElement.classList.remove(...THEME.values)
				document.documentElement.classList.add(themePreference)
			} else {
				localStorage.removeItem(THEME.storageKey)

				document.documentElement.classList.remove(...THEME.values)
				document.documentElement.classList.add(THEME.default)
			}

			if (document.documentElement.classList.contains('dark')) {
				document.querySelector('meta[name="theme-color"]').setAttribute('content', '#0e0e11')
			} else if (document.documentElement.classList.contains('light')) {
				document.querySelector('meta[name="theme-color"]').setAttribute('content', '#fafafa')
			}

			const observer = new MutationObserver(() => {
				if (document.documentElement.classList.contains('dark')) {
					localStorage.setItem(THEME.storageKey, 'dark')
					document.querySelector('meta[name="theme-color"]').setAttribute('content', '#0e0e11')
				} else if (document.documentElement.classList.contains('light')) {
					localStorage.setItem(THEME.storageKey, 'light')
					document.querySelector('meta[name="theme-color"]').setAttribute('content', '#fafafa')
				}
			})

			observer.observe(document.documentElement, {
				attributes: true,
				attributeFilter: ['class'],
			})
		</script>
	</head>

	<body class:list={['relative h-full font-sans antialiased', classes?.body?.root]}>
		<slot name='header' />

		<main
			class:list={['mx-auto w-full max-w-7xl pt-19 md:pt-22 2xl:max-w-(--breakpoint-2xl)', classes?.body?.main?.root]}
		>
			<div class:list={['mx-4', classes?.body?.main?.wrapper]}>
				<slot />
			</div>
		</main>

		<slot name='footer' />
	</body>
</html>
